<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/playlist_generator_grid.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playlist_generator_grid.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>
<body>
<h1>Spotify Analytics</h1>
<div id="genres_test"></div>
<div id="chart"></div>
<script>
    // import user genre map
    var genre_counts = JSON.parse('{{ genre_counts | tojson | safe }}');

    var chartDiv = document.getElementById("chart");
    var width = getWidth()
    var height = getHeight()

    console.log(width);
    console.log(height);

    function getWidth() {
        return window.innerWidth && chartDiv.clientWidth
            ? Math.min(window.innerWidth, chartDiv.clientWidth)
            : window.innerWidth || chartDiv.clientWidth;
    }

    function getHeight() {
        return window.innerHeight && chartDiv.clientHeight
            ? Math.min(window.innerHeight, chartDiv.clientHeight)
            : window.innerHeight || chartDiv.clientHeight
    }

    var diameter = Math.min(width, height);

    console.log(diameter);

    var color = d3.scaleOrdinal(d3.schemeCategory10);

    var bubble = d3.pack(genre_counts)
        .size([width, height])
        .padding(1.5);

    var svg = d3.select(chartDiv).append("svg")
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("perserveAspectRatio", "xMinYMid")
        .attr("width", width)
        .attr("height", height)
        .attr("class", "bubble");

    var nodes = d3.hierarchy(genre_counts)
        .sum(function (d) {
            return d.Count;
        });

    var node = svg.selectAll(".node")
        .data(bubble(nodes).descendants())
        .enter()
        .filter(function (d) {
            return !d.children
        })
        .append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
            return "translate(" + d.x + "," + d.y + ")";
        });

    node.append("title")
        .text(function (d) {
            return d.Name + ": " + d.Count;
        });

    node.append("circle")
        .attr("r", function (d) {
            return d.r;
        })
        .style("fill", function (d, i) {
            return color(i);
        })
        .on("click", function (bubble) {
            console.log(bubble);
            window.location.href='playlist/' + bubble.data.Name
           /* TODO: DEPRECATED: instead of writing html to the document, route to path
            $.ajax({
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                url: "{url_for('playlist')}", took out extra brackets for jinja error
                data: JSON.stringify({"Name": bubble.data.Name}),
                success: function (response) {
                    console.log(response);
                    document.open();
                    document.write(response);
                    document.close();
                },
                error: function (response, error) {
                    console.log(response);
                    console.log(error);
                }
            });
            */
        });

    node.append("text")
        .attr("dy", ".2em")
        .style("text-anchor", "middle")
        .text(function (d) {
            return d.data.Name.substring(0, d.r / 3);
        })
        .attr("font-family", "sans-serif")
        .attr("font-size", function (d) {
            return d.r / 4;
        })
        .attr("fill", "white");

    node.append("text")
        .attr("dy", "1.3em")
        .style("text-anchor", "middle")
        .text(function (d) {
            return d.data.Count;
        })
        .attr("font-family", "Gill Sans", "Gill Sans MT")
        .attr("font-size", function (d) {
            return d.r / 5;
        })
        .attr("fill", "white");

    var chart = $(".bubble");
    var aspect = chart.width() / chart.height();
    var container = chart.parent();

    $(window).on("resize", function() {
        var targetWidth = container.width();
        // TODO: look into aspect ratios
        // var aspectFittedHeight = Math.round(targetWidth / aspect)
        chart.attr("width", targetWidth);
        chart.attr("height", Math.round(targetWidth / aspect));
    }).trigger("resize");


    // d3.select(self.frameElement).style("height", height + "px");

</script>
</body>
</html>
